<div id="new_client">
  <h4>New client</h4>
  <%= simple_form_for @client , :remote => true do |client| %>
    <%= client.input :last_name %>
    <%= client.input :first_name %>
    <%= client.input :phone_number %>
    <%= client.input :email %>
fdsfdsf
    <%= client.button :submit %>

  <% end %>
  aaaaaaaaaaaaa
</div>