<div>
  <h2>Phone</h2>
  <%= simple_form_for(@phone) do |phone| %>

    <%= phone.input :name do %>
      <%= phone.select :name, PhoneModel.all %>
    <% end %>
    <%= phone.input :name %>

    <%= phone.button :submit %>

  <% end %>
</div>