<div>
  <%= simple_form_for(@repair) do |repair| %>
    <h2>Phone</h2>
    <%= repair.input :phone_model_id,  label: false, :collection => PhoneModel.all, :label_method => :name, :value_method => :id %>
    <a href="#" class="button small" id="add_phone">Add new phone model</a>
    <h2>Client</h2>
    <%= repair.input :client_id, label: false, :collection => Client.all, :label_method => :full_name, :value_method => :id %>
    <a href="#" class="button small" id="add_client">Add new client</a>
    <%= repair.input :imei, placeholder: '000000000000' %>
    <%= repair.input :tag_list_array, :as => :check_boxes, :collection => ['screen', 'simlock', 'language', 'soft'], :label => "Description" %>
    <%= repair.input :tag_list_string, label: false, placeholder: 'Other descriptions (separated by commas)' %>
    <%= repair.input :description_service %>
    <%= repair.input :description_client %>
    <%= repair.input :max_price %>
    <%= repair.input :deadline, as: :string, input_html: { class: "datepicker" } %>

    <%= repair.button :submit, class: 'btn btn-success' %>
  <% end %>
</div>