<div>
  <%= simple_form_for(@repair) do |repair| %>

    <%= repair.input :imei, placeholder: '000000000000' %>
    <%= repair.input :description %>
    <%= repair.input :max_price %>
    <%= repair.input :deadline, as: :string, input_html: { class: "datepicker" } %>

    <%= repair.button :submit %>
  <% end %>
</div>