<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Create date</th>
      <th>Deadline</th>
      <th>Phone model</th>
      <th>Client</th>
      <th>Description</th>
      <th>Status</th>
      
    </tr>
  </thead>

  <tbody>
    <% @repairs.each do |repair| %>
      <tr>
        <td><%= repair.created_at %></td>
        <td><%= repair.deadline %></td>
        <td><%= repair.phone_model.name %></td>
        <td><%= repair.client.full_name %></td>
        <td><%= repair.description %></td>
        <td><%= repair.status %></td>
        
        

        <td><%= link_to 'Show', repair %></td>
        <td><%= link_to 'Edit', edit_repair_path(repair) %></td>
        <td><%= link_to 'Destroy', repair, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

